/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 déc. 2019, 09:12:58
    Author     : william.garos
*/

body
{
    background-color: #dce4ff;
/*    background-color: #383844;*/
    color: white;
}

.nvBar {
    background-color: #46a0ff !important;
/*    background-color:#1f252b !important;*/
}

.card {
    
    background-color: #7fbdff;
/*    background-color:#454545;*/
    color: white;
}


.body_container_mw{
    margin-top:20px;
/*    border: 1px solid grey;*/
    max-width: 850px;
    
}

.body_container{
    margin-top:20px;
    border: 1px solid grey;
    
}

h1{
    margin-bottom: 50px;
    color:#444444;
}

/*    Lien par défaut*/

.btn-link {
    text-decoration:none;
    background-color: #52a6ff;
    color:white;
/*    background-color: #b1eeaa;*/
}

.nav-link {
    text-decoration:none;
    color:white;
    }

    
    
/*    Lien survolé par la souris par défaut*/

.btn-link:hover {
  color:#e6e6e6;
}

.nav-link:hover {
  color:#e6e6e6;
}




mark
{
    /* La couleur de fond prend le pas sur celle de toute la page */
    background-color: #FFFFFF;
    color: black;
}

table {
  border: 1px solid white
}